/* img { object-fit:cover !important } */

.card { height:auto; margin-top:15px; padding:20px; background-color:white; border-radius:1vw; border:2px solid grey; transition: 0.2s; }
.card:hover { box-shadow: 0 0 30px 5px var(--col1) }
.cardContainer { }
.cardHeader { font-size:1.5rem; color:#313131; border-bottom:1.5px solid #e9e9e9; line-height:2rem; padding-bottom:15px; margin-bottom:15px;}
.cardBody { grid-column-start:1; position:relative; font-size:0.8rem; color:#313131; padding:0.5vw 0 0 0; font-weight:100; }
.cardDate { margin-top:5px; color:var(--col1); letter-spacing:0.1vw; align-items:center; justify-content:center; font-size:0.8rem; }
.cardImage { width:15vw; margin:2vw; height:auto; overflow:hidden; }
.cardButton { align-items:center; justify-content:center; float:right; padding:0 0.5vw; height:30px; width:25px; display:inline-block; text-decoration:none; font-size:1rem; color:black; border:0.1vw solid black; border-radius:1.5vmin; background-size:100vw 100vw; transition:0.5s; margin-right:15px; margin-top:2px }
.cardButton:hover  { color:#212427; background:grey; background-position:50vw 0; }

.cardBody {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    /* background: -webkit-linear-gradient(#fff, #000); */
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);

.card:hover {
    box-shadow: 0 0 30px 5px var(--col1)
}

.cardContainer {}

.cardHeader {
    font-size: 1.5rem;
    color: #313131;
    border-bottom: 1.5px solid #e9e9e9;
    line-height: 2rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

/* .cardBody {
    grid-column-start: 1;
    position: relative;
    /* background:linear-gradient(transparent 150px, white); */
    font-size: 0.8rem;
    color: #313131;
    padding: 0.5vw 0 1vw 0;
    font-weight: 100;
} */

.cardDate {
    margin-top: 5px;
    color: var(--col1);
    letter-spacing: 0.1vw;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.cardImage {
    width: 15vw;
    margin: 2vw;
    height: auto;
    overflow: hidden;
}

.cardButton {
    align-items: center;
    justify-content: center;
    float: right;
    padding: 0 0.5vw;
    height: 30px;
    width: 25px;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    border: 0.1vw solid black;
    border-radius: 1.5vmin;
    background-size: 100vw 100vw;
    transition: 0.5s;
    margin-right: 15px;
    margin-top: 2px
}

.cardButton:hover {
    color: #212427;
    background: grey;
    background-position: 50vw 0;
}

.cardBody::before {
    position: relative;
    background:linear-gradient(transparent 150px, white);
}

.cardButton.upvoted {
    background-color: #caeec2;
}

.cardButton.downvoted {
    background-color: #ffcccb;
}

.margin-top {
    margin-top: 15px
}