/* img { object-fit:cover !important } */

.card { height:auto; margin-top:15px; display:grid; grid-template-columns:repeat(2, auto); background-color:white; border-radius:1vw; border:1px solid grey; transition: 0.2s; }
.card:hover { box-shadow: 0 0 30px 5px var(--col1) }
.cardContainer { margin: 1.5vw 1.5vw 1.5vw 0; }
.cardHeader { font-size:1.5rem; color:var(--col5); border-bottom:1px solid grey; text-transform:uppercase; }
.cardBody { grid-column-start:1; position:relative; font-size:1.5vh; color:black; padding:0.5vw 0 1vw 0; font-weight:100; }
.cardDate { margin-top:5px; color:var(--col1); letter-spacing:0.1vw; align-items:center; justify-content:center; font-size:1rem; }
.cardImage { width:15vw; margin:2vw; height:auto; overflow:hidden; }
.cardButton { align-items:center; justify-content:center; letter-spacing:0.1vw; text-transform:uppercase; padding:0.3vw 0.5vw; height:auto; width:auto; display:inline-block; text-decoration:none; font-size:0.8rem; color:black; border:1px solid grey; border-radius:1.5vmin; background-size:100vw 100vw; transition:0.5s; margin-right:15px}
.cardButton:hover  { color:var(--col0); background:var(--col1); background-position:50vw 0; }
.cardButton:focus { border:1px solid grey; border-radius:1.5vmin; }