/* img { object-fit:cover !important } */

.card {
    height: auto;
    margin-top: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 1vw;
    border: 2px solid grey;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 0 30px 5px var(--col1)
}

.cardContainer {}

.cardHeader {
    font-size: 1.5rem;
    color: #313131;
    border-bottom: 0.2vw solid black;
    line-height: 1.8rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.cardBody {
    grid-column-start: 1;
    position: relative;
    font-size: 0.8rem;
    color: #313131;
    padding: 0.5vw 0 1vw 0;
    font-weight: 100;
}

.cardDate {
    margin-top: 5px;
    color: var(--col1);
    letter-spacing: 0.1vw;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.cardImage {
    width: 15vw;
    margin: 2vw;
    height: auto;
    overflow: hidden;
}

.cardButton {
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    padding: 0.3vw 0.5vw;
    height: auto;
    width: auto;
    display: inline-block;
    text-decoration: none;
    font-size: 0.8rem;
    color: black;
    border: 0.1vw solid black;
    border-radius: 1.5vmin;
    background-size: 100vw 100vw;
    transition: 0.5s;
    margin-right: 15px
}

.cardButton:hover {
    color: #212427;
    background: grey;
    background-position: 50vw 0;
}

.cardButton.upvoted {
    background-color: green;
}

.cardButton.downvoted {
    background-color: red;
}